body {
  background-color: #e5e5e5;
  font-family: monospace;
}

#title {
  font-size: 2rem;
  color: #ffffff;
  background-color: #14213d;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  color: rgb(32, 32, 32);
  font-size: 1rem;
}

ul li {
  font-size: 1rem;
}

ol li {
  font-size: 1rem;
}

a:hover {
  background-color: #8ecae6;
  color: black;
}

.likesanddislikes {
  color: black;
  font-size: 1.3rem;
  background-color: #fb8500;
  padding: 4px 4px 6px 1px;
}

h3 {
  background-color: #14213d;
  color: #ffffff;
  padding: 4px 4px 4px 4px;
}

.raccoon {
  width: 100%;
  height: 100%;
}

.quizqs {
  font-family: monospace;
  font-size: 1rem;
}

.quizqs:hover {
  background-color: #fb8500;
  color: black;
  font-weight: bold;
}

#quiz {
  font-weight: 1rem;
}
